.bg {
    background-image: url('../Assets/hiclipart.com.png');
}

.site-body {
    margin-top: 4%;
}

.carousel-inner>.item>img {
    width: auto;
    height: 100px;
}

.carousel {   
    height: auto;
}